/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */
@define-color black #1D1C19;
@define-color orange #FFA066;
@define-color red #e82424;
@define-color white #c5c9c5;
@define-color grey #c5c9c5;    

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @white;
    }

    to {
        color: @white;
        background-color: @orange;
    }
}

@keyframes blink-critical {
    70% {
        color: @white;
    }

    to {
        color: @white;
        background-color: @red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 5px;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", sans-serif;
}

/* The whole bar */
window#waybar {
    background: transparent;
    font-size: 14px;
}

#workspaces button {
    background-color: @black;
    border-top: 2px solid transparent;
    padding: 0px 10px 0px 10px;
    /* To compensate for the top border and still have vertical centering */
    color: @grey;
}

#workspaces button.focused {
    border-color: @grey;
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

/* -----------------------------------------------------------------------------
 * Basic style for following modules 
 * ---------------------------------------------------------------------------*/
#bluetooth,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#playerctl,
#tray{
  color: @grey;
    background-color: @black;
    padding: 0px 10px;
    font-weight: bold;
}

/* -----------------------------------------------------------------------------
 * Specific module styles
 * -------------------------------------------------------------------------- */


#custom-zeit.tracking {
    background-color: @orange;
}

#cpu.warning {
    color: @orange;
}

#cpu.critical {
    color: @red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @orange;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#network.disconnected {
    color: @orange;
}

#pulseaudio.muted {
    color: @orange;
}

#bluetooth.disabled {
    color: @orange;
}
#tray {
    background: @black;
}
